.header {
  min-height: 78px;
  background: #76C7C0 url("/images/Path.png") bottom;
  background-size: auto 10px;
  background-repeat: repeat-x;
}

.header .container h1 {
  font-weight: 700;
  font-size: 30px;
  margin: 0;
}

.header .container h1 span {
  font-size: 25px;
  font-weight: 400;
  font-family: "Open Sans";
  margin-left: -5px;
}

.header .container .menu ul li.active a {
  background-color: #62a29e;
  border-bottom: 3px solid #538B86;
}

.header .container .menu ul li a {
  color: white !important;
  font-size: 14px;
  font-weight: 500;
  padding: 4px 12px;
  list-style-type: none;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  border-bottom: 3px solid transparent;
}

.header .container .menu ul li a:hover {
  background-color: #e8645a;
  border-bottom: 3px solid #E2534B;
}

.header .container .menu ul li.show a {
  background-color: #e8645a;
  border-bottom: 3px solid #E2534B;
}

.header .container .menu ul .nav-item.dropdown .nav-link {
  padding: 4px 15px 4px 30px;
  background-image: url("/images/arrow-down.png");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position: 13px;
  margin: 0;
}

.header .container .menu ul .nav-item #navbarDropdown img {
  transform: rotate(90deg);
  margin-top: -1px;
}

.header .container .menu ul .nav-item .layout-dropdown {
  position: relative;
}

.header .container .menu ul .nav-item .layout-dropdown .dropdown-menu {
  margin-top: 12px;
  position: absolute;
  background-color: #E2534B;
  border-radius: 5px;
  padding: 5px;
}

.header .container .menu ul .nav-item .layout-dropdown .dropdown-menu::before {
  display: inline-block;
  content: "";
  border-right: 0.5em solid transparent;
  border-bottom: 0.5em solid;
  border-left: 0.5em solid transparent;
  position: absolute;
  top: -7px;
  left: 10px;
  color: #E2534B;
}

.header .container .menu ul .nav-item .layout-dropdown .dropdown-menu .dropdown-item {
  padding: 5px 16px 5px 26px;
  background-color: #e8645a;
  border-radius: 5px;
  text-transform: initial;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 5px;
  background-image: url("/images/arrow.png");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position: 13px;
  border: none;
}

.header .container .menu ul .nav-item .layout-dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #76C7C0;
  border: none;
}

.header .container .menu ul .nav-item .layout-dropdown .dropdown-menu .dropdown-item img {
  margin-right: 7px;
  margin-top: -1px;
}

.header .container .menu ul .nav-item .layout-dropdown .dropdown-menu .dropdown-item:last-child {
  margin-bottom: 0;
}

@media (min-width: 992px) {
  .header .container .menu > ul > li {
    margin: 0 1px;
  }
}

@media (min-width: 1200px) {
  .header .container .menu > ul > li {
    margin: 0 7px;
  }
}

.carousel {
  padding-bottom: 50px;
}

.carousel .carousel-inner .carousel-item {
  min-height: 490px;
  width: 100%;
  background: #7F8C8C;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.carousel .carousel-inner .carousel-item div {
  text-align: center;
}

.carousel .carousel-inner .carousel-item div h3 {
  display: inline-block;
  color: white;
  background: #E2534B;
  text-transform: uppercase;
  font-size: 49px;
  font-weight: 800;
  padding: 0 16px;
  border-radius: 5px;
}

.carousel .carousel-inner .carousel-item div p {
  text-align: center;
  background: #3f4545;
  color: white;
  padding: 11px 45px;
  margin-top: 10px;
  border-radius: 5px;
}

.carousel .carousel-indicators {
  bottom: 12px;
  margin: 0;
}

.carousel .carousel-indicators li {
  background-color: #B0B8B9;
  width: 60px;
  height: 5px;
}

.carousel .carousel-indicators li.active {
  background-color: #E2534B;
  width: 60px;
  height: 5px;
}

.carousel .carousel-control-prev,
.carousel .carousel-control-next {
  width: 40px;
  opacity: 1;
}

.carousel .carousel-control-prev span,
.carousel .carousel-control-next span {
  background-color: #e8645a;
  padding: 20px;
  background-size: auto;
  border-radius: 5px;
  border-bottom: 3px solid #E2534B;
}

.carousel .carousel-control-prev-icon {
  background-image: url("/images/arrow-left.png");
}

.carousel .carousel-control-next-icon {
  background-image: url("/images/arrow-right.png");
}

/*background: trasparent url("/images/Path.png") no-repeat bottom;*/

.intro {
  background: #ECECEC;
  padding: 25px;
  border-radius: 5px;
}

.intro .row {
  align-items: center;
}

.intro h4 {
  font-size: 30px;
  margin: 0;
}

.intro p {
  font-size: 13px;
  margin: 0;
}

.intro button {
  float: right;
  text-transform: uppercase;
  font-size: 20px;
  padding: 12px 21px;
  background-color: #e8645a;
  border-bottom: 3px solid #E2534B;
  color: white;
}

.services {
  padding: 45px 0;
}

.services .col-md-3 {
  padding-bottom: 40px;
}

.services .card {
  border: none;
  border-bottom: 3px solid #E5E6E6;
  background-color: #F8F8F8;
  cursor: pointer;
  margin-bottom: 40px;
}

.services .card .head {
  text-align: center;
  padding: 25px 0;
}

.services .card .head h5 {
  font-size: 16px;
  font-weight: 800;
  margin-top: 8px;
  text-transform: uppercase;
}

.services .card p {
  text-align: center;
  font-size: 13px;
  margin: 0;
}

.services .card .card-footer {
  border: none;
  background: transparent;
}

.services .card .card-footer .btn {
  font-size: 14px;
  color: white;
  padding: 13px 0;
  background-color: #62a29e;
  border-bottom: 3px solid #538B86;
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-width: calc(100% - 30px);
  bottom: -25px;
}

.services .card:hover {
  background-color: white;
}

.services .card:hover .card-footer .btn {
  background-color: #e8645a;
  border-bottom: 3px solid #E2534B;
}

.about {
  background: #ECECEC url("/images/Path2.png");
  background-repeat: repeat-x;
  background-size: auto 18px;
  padding: 45px 0;
  text-align: center;
}

.about h1 {
  text-transform: uppercase;
  font-size: 39px;
  color: #E1524B;
  margin: 0;
}

.about p {
  font-size: 13px;
  margin: 0;
}

.why-us {
  padding: 50px 0;
}

.why-us h6 {
  font-size: 16px;
  color: #7F8C8C;
  font-weight: 700;
  margin-bottom: 25px;
}

.why-us h5 {
  margin-bottom: 43px;
  font-size: 16px;
  color: #7F8C8C;
  font-weight: 700;
}

.why-us h3 {
  margin-bottom: 27px;
  font-size: 16px;
  color: #7F8C8C;
  font-weight: 700;
}

.why-us span {
  color: #7F8C8C;
  position: absolute;
  bottom: -30px;
  left: 60px;
}

.why-us p {
  font-size: 13px;
  color: #7f8c8c;
}

.why-us ul {
  padding: 0;
  list-style-type: none;
}

.why-us ul li {
  background-image: url("/images/arrow-red.png");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position: 0;
  font-size: 13px;
  margin-bottom: 7px;
}

.why-us ul li p {
  padding-left: 15px;
}

.why-us .client {
  position: relative;
}

.why-us .client p {
  padding: 15px;
  background-color: #f8f8f8;
  font-style: italic;
  color: #7f8c8c;
}

.why-us .client::after {
  display: inline-block;
  content: "";
  border-top: 25px solid;
  border-left: 25px solid transparent;
  position: absolute;
  bottom: -25px;
  left: 20px;
  color: #f8f8f8;
}

.why-us .gauges {
  padding: 40px 0;
  display: flex;
  justify-content: center;
}

.why-us .gauges #gauge1,
.why-us .gauges #gauge2,
.why-us .gauges #gauge3,
.why-us .gauges #gauge4 {
  width: 120px;
  height: 70px;
  text-align: center;
}

.happy-clients {
  background: #f3f3f3;
  padding: 0 0 50px 0;
}

.happy-clients .happy-head {
  margin-bottom: 25px;
}

.happy-clients .happy-head .col-md-12 {
  display: flex;
}

.happy-clients .main {
  display: block;
  margin: 0 -15px;
}

.happy-clients .main .variable-width .slick-slide {
  background: #f8f8f8;
  border-radius: 5px;
  padding: 0 35px;
  min-height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
}

.happy-clients .space {
  width: 10px;
  display: inline-block;
}

.happy-clients .arrow-right {
  background: #98a3a3 url(/images/single-arrow-right.png) no-repeat;
  display: inline-block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-position-y: center;
  background-position-x: center;
  border-radius: 5px;
  border-bottom: 3px solid #7f8c8c;
  outline: none;
}

.happy-clients .arrow-right:hover {
  background-color: #E1524B;
  border-bottom-color: #E1524B;
}

.happy-clients .arrow-left {
  background: #98a3a3 url(/images/single-arrow-left.png) no-repeat;
  display: inline-block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-position-y: center;
  background-position-x: center;
  border-radius: 5px;
  border-bottom: 3px solid #7f8c8c;
  outline: none;
}

.happy-clients .arrow-left:hover {
  background-color: #E1524B;
  border-bottom-color: #E1524B;
}

.happy-clients .line {
  flex: 1;
  margin: 0 10px;
}

.happy-clients .line div {
  height: 2px;
  background: #e1e2e2;
  position: relative;
  margin: 20px 0;
}

.happy-clients .line div span {
  height: 6px;
  width: 6px;
  display: block;
  background: #e1e2e2;
  border-radius: 50%;
  margin-top: 0;
  position: absolute;
  top: -2px;
}

.happy-clients h6 {
  font-size: 16px;
  color: #7F8C8C;
  font-weight: 700;
  margin: 8px 0;
}

.happy-clients h3 {
  background: #fff;
  color: #3498db;
  font-size: 36px;
  line-height: 100px;
  margin: 10px;
  padding: 2%;
  position: relative;
  text-align: center;
}

.happy-clients .action {
  display: block;
  margin: 100px auto;
  width: 100%;
  text-align: center;
}

.happy-clients .action a {
  display: inline-block;
  padding: 5px 10px;
  background: #f30;
  color: #fff;
  text-decoration: none;
}

.happy-clients .action a:hover {
  background: #000;
}

.section-1 {
  background-color: #F3F3F3;
  padding: 50px 0;
}

.section-1 h2 {
  color: #E1524B;
}

.section-1 p {
  color: #7f8c8c;
}

.btn-modus {
  background: #98a3a3;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  border-bottom: 3px solid #7f8c8c;
  outline: none;
  color: white;
  text-transform: uppercase;
  padding: 4px 12px;
  font-size: 14px;
  margin-right: 15px;
}

.btn-modus.active {
  background-color: #62a29e;
  border-bottom: 3px solid #538B86;
}

.btn-modus:hover {
  background-color: #E1524B;
  border-bottom-color: #E1524B;
  color: white;
}

.btn-big-modus {
  float: right;
  text-transform: uppercase;
  font-size: 14px;
  padding: 12px 21px;
  background-color: #e8645a;
  border-bottom: 3px solid #E2534B;
  color: white;
}

.btn-big-modus:hover {
  background-color: #76caca;
  border-bottom-color: #62bdbd;
  color: white;
}

.portfolio {
  margin: 40px 0;
}

.portfolio .modus-buttons {
  margin-bottom: 40px;
}

.portfolio .item {
  min-height: 265px;
  margin-bottom: 38px;
}

.portfolio .item .image-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  height: 100%;
}

.portfolio .item .image-item img {
  width: 105px;
}

.portfolio .item .second-half .row {
  align-items: center;
}

.portfolio .item h2 {
  font-size: 20px;
  color: #7f8c8c;
  margin-bottom: 25px;
}

.portfolio .item .text {
  font-size: 13px;
  color: #7f8c8c;
  margin-bottom: 50px;
}

.portfolio .item .item-bottom a {
  font-size: 20px;
  color: #7f8c8c;
}

.portfolio .item .item-bottom a i {
  color: white;
  background: #538B86;
  padding: 10px;
  border-radius: 5px;
}

.portfolio .item .item-bottom a span {
  margin-left: 15px;
}

.portfolio .item .item-bottom a:hover i {
  background: #E1524B;
}

.portfolio .item .item-bottom a:hover span {
  color: #E1524B;
}

.portfolio .pagination {
  justify-content: center;
}

.portfolio .pagination .previous-label {
  margin-right: 20px;
}

.portfolio .pagination .next-label {
  margin-left: 20px;
}

.portfolio .pagination .page-item {
  margin-right: 10px;
}

.portfolio .pagination .pagination-button {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
}

footer .main-area {
  background: #76c7c0 url("/images/Path3.png");
  background-repeat: repeat-x;
  background-size: auto 18px;
}

footer .main-area .footer-about {
  padding: 50px 0 20px 0;
}

footer .main-area .footer-about h1 {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 25px;
  color: white;
}

footer .main-area .footer-about h1 span {
  font-size: 25px;
  font-weight: 400;
  font-family: "Open Sans";
  margin-left: -5px;
}

footer .main-area .footer-about p {
  margin-bottom: 25px;
  font-size: 13px;
  color: white;
}

footer .main-area .footer-about h6 {
  font-size: 13px;
  font-weight: 400;
  color: white;
}

footer .main-area .footer-about h6 span {
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
}

footer .main-area h2 {
  color: #3b6360;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  margin-bottom: 25px;
}

footer .main-area ul {
  list-style-type: none;
  padding-left: 15px;
}

footer .main-area ul li a {
  background-image: url("/images/arrow.png");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position: 0;
  padding-left: 15px;
  color: white;
}

footer .main-area ul li a img {
  margin-right: 7px;
}

footer .main-area h3 {
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  color: white;
  margin-bottom: 25px;
}

footer .main-area h3 span {
  font-weight: 700;
  font-style: initial;
  text-transform: uppercase;
}

footer .main-area .article {
  display: inline-flex;
  margin-bottom: 8px;
}

footer .main-area .article .image-article {
  background-color: #62a29e;
  border-radius: 5px;
  padding: 20px 15px;
  text-align: center;
  margin-right: 15px;
}

footer .main-area .article .text-article div {
  font-size: 13px;
  color: white;
  margin: 0;
}

footer .main-area .article .text-article div:last-child {
  color: #3b6360;
}

footer .main-area .wrap-column {
  margin-bottom: 30px;
}

footer .bottom-area {
  background: #6ab3ad;
  height: 50px;
  padding: 8px 0;
}

footer .bottom-area .row ul {
  list-style-type: none;
  display: flex;
}

footer .bottom-area .row ul li a {
  display: block;
}

footer .bottom-area .row h6 {
  font-size: 12px;
  color: white;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 7px;
}

footer .bottom-area .row .col-auto a {
  margin: 0 8px;
}

a:hover {
  text-decoration: none;
}

body {
  background: #F3F3F3;
}

.fade:not(.show) {
  opacity: 0;
}

.collapse:not(.show) {
  display: none;
}

.breadcrumb-header {
  background-color: #e9ecef;
}

.breadcrumb-header .bread {
  padding: 20px 0;
  position: relative;
}

.breadcrumb-header .bread::after {
  display: inline-block;
  content: "";
  border-right: 0.5em solid transparent;
  border-top: 0.5em solid;
  border-left: 0.5em solid transparent;
  position: absolute;
  bottom: -8px;
  left: 10px;
  color: #e9ecef;
}

.breadcrumb-header .bread ol {
  justify-content: flex-end;
}

.breadcrumb-header .bread ol li,
.breadcrumb-header .bread ol a {
  color: #6c757d;
}

.breadcrumb-header .bread h6 {
  text-transform: uppercase;
  color: #6c757d;
}

