.head {
  background: #fafafa;
  padding: 4px 0;
}

.head ul {
  list-style-type: none;
  display: flex;
}

.head .mini-menu li {
  padding: 0 5px;
  border-right: 2px solid #a2a2a2;
}

.head .mini-menu li a {
  color: #a2a2a2;
  font-size: 12px;
  text-transform: capitalize;
}

.head .social-logo li {
  margin-right: 4px;
}

.head .social-logo li:last-child {
  margin-right: 0;
}

.head .social-logo li a {
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  background-size: 14px;
  width: 15px;
  height: 15px;
  padding: 0 10px;
  background-color: #c7c7c7;
}

.head .social-logo li.rss a {
  background-image: url("/images/1.png");
}

.head .social-logo li.mail a {
  background-image: url("/images/2.png");
}

.head .social-logo li.skype a {
  background-image: url("/images/3.png");
}

.head .social-logo li.facebook a {
  background-image: url("/images/4.png");
}

.head .social-logo li.dots a {
  background-image: url("/images/5.png");
}

.head .social-logo li.google a {
  background-image: url("/images/6.png");
}

