@import 'header/index.scss';
@import 'pages/home/index.scss';
@import 'footer/index.scss';

a:hover{
    text-decoration: none;
}

.fade {
    &:not(.show) {
        opacity: 0;
    }
}

.collapse {
    &:not(.show) {
        display: none;
    }
}

